@import "node_modules/nord/src/sass/nord.scss";


#icon {
  width: 50%;
  color: $nord2;
}
.k {
  margin-left: 60px;
}
@media (max-width: 480px) {
  #icon {
    width: 50px;
  }
  .k {
    flex-wrap: wrap;
  }
}
