@import url("../general.css");

.About-head {
  font-family: Cantique-Normal;
  color: var(--major1);
  /* font-size: 50px; */
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  margin-left: 25px;
}
