@import url("../general.css");

.head {
  margin: 0;
  height: 500px;
  position: relative;
  background-color: var(--major1);
}
.dropdown-btns {
  background-color: var(--major1);
  padding-top: 2.5%;
  display: flex;
  flex-direction: row;
}
.a {
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  margin-right: 25px;
  margin-left: 25px;
  flex-grow: 1;
  padding: 3px;
  text-align: center;
  border-radius: 15px;
}
#dropdownbtn:hover .dropdown-btns {
  display: block;
}
.intro {
  font-family: Cantique-Normal;
  margin: 0;
  position: absolute;
  top: 50%;
  margin-left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 300px;
  color: var(--white);
}
