/* @import url("../general.css" */

@import "../general.scss";
@font-face {
  font-family: Cantique-Normal;
  src: url(../assets/Cantique-Normal.otf);
}

.head {
  margin: 0;
  height: 500px;
  position: relative;
  background-color: $major1;
}
.dropdown-btns {
  background-color: $major1;
  padding-top: 2.5%;
}
.but {
  background-color: $white;
  margin-right: 25px;
  margin-left: 25px;
  padding: 3px;
  text-align: center;
  border-radius: 15px;
  /* width: 100%; */
}

.btn-lnk {
  color: $black;
  text-decoration: none;
}

#dropdownbtn:hover .dropdown-btns {
  display: block;
}
.intro {
  font-family: Cantique-Normal;
  margin: 0;
  position: absolute;
  top: 50%;
  margin-left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 300px;
  color: $white;
}
