/* Colors */
:root {
  --major1: #1c7c54;
  --major2: #73e2a7;
  --white: #def4c6;
  --minor1: #1b512d;
  --minor2: #b1cf5f;
  --black: #111820;
}

@font-face {
  font-family: Cantique-Normal;
  src: url(./assets/Cantique-Normal.otf);
}
