/* Colors */

$major1: #1c7c54;
$major2: #73e2a7;
$white: #def4c6;
$minor1: #1b512d;
$minor2: #b1cf5f;
$black: #111820;

h1 {
  font-family: Cantique-Normal;
  color: $major1;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  padding-top: 40px;
}

@media (max-width: 460px) {
  h1 {
    text-align: center;
    color: red;
  }
}
