// @import "../general.scss";

@import "node_modules/nord/src/sass/nord.scss";

// @media (max-width: 460px) {
//   h1 {
//     text-align: center;
//     // color: red;
//   }
// }

.footer {
  background-color: $nord1;
  height: fit-content;
  margin: 0;
  h1 {
    color: $nord5;
    margin-bottom: 0;
  }
  padding-bottom: 1em;
  .disc {
    color: $nord5;
    margin: 0.5em;
    margin-bottom: 0;
    font-size: 2.5em;
    background-color: transparent;
    border-style: none;
    margin-top: 0;
    :hover{
      transition: 0.5s;
      color: $nord10;
    }
  }
  a {
    color: $nord5;
    margin: 0.5em;
    margin-bottom: 0;
    font-size: 2.5em;
    :hover {
      transition: 0.5s;
      color: $nord10;
    }
  }
}

// *{
//   background-color: $nord4;
// }

@media (max-width: 420px) {
  #footicon {
    width: 50%;
  }
  .l {
    flex-wrap: wrap;
  }
}
