// @import "../general.scss";

$major1: #1c7c54;
$major2: #73e2a7;
$white: #def4c6;
$minor1: #1b512d;
$minor2: #b1cf5f;
$black: #111820;

// @media (max-width: 460px) {
//   h1 {
//     text-align: center;
//     // color: red;
//   }
// }

.footer {
  background-color: $major1;
  height: fit-content;
  margin: 0;
  h1 {
    color: $white;
    margin-bottom: 0;
  }
  padding-bottom: 1em;
  .disk {
    color: $white;
    cursor: pointer;
  }
  a {
    color: $white;
    margin: 0.5em;
    margin-bottom: 0;
    font-size: 2.5em;
    :hover {
      transition: 0.5s;
      color: $minor2;
    }
  }
}

@media (max-width: 420px) {
  #footicon {
    width: 50%;
  }
  .l {
    flex-wrap: wrap;
  }
}
